*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

body {
    font-family: verdana, arial, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

p {
    font-size: 1em;
}

.body-area {
    background-color: #e6e2e2;
}

.header-area {
    background-color: #166a2a;
    width: 100%;
    height: 170px;
    border-bottom: 4px solid #05502c;
}

.header-area div {
    background-color: #52e171;
    margin-left: 20%;
    width: 60%;
    height: 170px;
    border-bottom: 4px solid #05502c;
}

.header-area h1 {
    color: #166a2a;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 4%;
}

.header-area h3 {
    color: #166a2a;
    padding-left: 5%;
}

.navbar-area {
    background-color: #05502c;
    border-radius: 30px;
    padding: 12px 15px 12px 15px;
    margin-left: 22%;
    width: 26%;
    position: relative;
    bottom: 15%;
}

.navbar-area li {
    color: #ffffff;
    text-align: center;
    padding: 0 5% 0 5%;
    display: inline-block;
}

.navbar-area li:nth-child(2) {
    border-left: 2px solid white;
    height: 20px;
}

.navbar-area li:nth-child(3) {
    border-left: 2px solid white;
    height: 20px;
}

.main-area {
    background-color: #ffffff;
    color: #000000;
    margin: 0 20% 0% 20%;
    width: 60%;
}

.main-area h2 {
    font-weight: bold;
}

.main-area section {
    padding: 3% 3% 0 3%;
}

.quem-sou {
    padding: 2% 4% 0 2%;
    line-height: 2em;
    margin-left: 2%;
}

.quem-sou div {
    display: inline-block;
}

.quem-sou figure {
    display: inline-block;
    margin-left: 60.5%;
}

.quem-sou img {
    border: 1px solid black;
    width: 125px;
    height: 150px;
    padding: 4%;
}

.quem-sou strong {
    font-weight: bold;
}

.contact {
    margin: 0 2% 0 2%;
    padding: 0 3% 0 2%;
    line-height: 2em;
}

.contact fieldset {
    border: 1px solid black;
    border-radius: 2px;
}

.contact legend {
    margin: 2%;
    padding: 0 1% 0 1%;
}

.contact label {
    padding: 4% 0 0% 2%;
}

.input_name {
    border: 1px solid black;
    margin-left: 6.8%;
    margin-bottom: 2%;
    width: 80%;
}

.input_email {
    border: 1px solid black;
    margin-left: 7.2%;
    margin-bottom: 2%;
    width: 80%;
}

.label-alinhamento {
    vertical-align: top;
}

.textarea {
    border: 1px solid black;
    margin-left: 2%;
    width: 80%;
}

.enviar {
    background-color: #52e171;
    font-weight: bold;
    padding: 0 2% 0 2%;
    margin-left: 85.2%;
    margin-bottom: 2%;
}

.fav-links {
    margin-left: 2%;
}

.fav-links ul {
    padding-top: 2%;
    padding-bottom: 5%;
}

.fav-links li {
    margin-left: 5%;
    list-style-type: disc;
    line-height: 1.5em;
}

.line {
    background-color: #05502c;
    height: 3px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.footer-area {
    background-color: #a9a9a9;
    color: white;
    font-size: 1em;
    height: 110px;
}

.footer-area ul {
    padding-top: 25px;
    margin-left: 22%;
}

.footer-area li {
    color: #ffffff;
    display: inline-block;
    padding: 0 2% 0 2%;
    text-decoration: underline;
}

.footer-area li:nth-child(2) {
    border-left: 2px solid white;
    height: 20px;
}

.footer-area li:nth-child(3) {
    border-left: 2px solid white;
    height: 20px;
}

a {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .header-area {
        background-color: #e05e1c;
    }
}

/*até 600 px é smartphone*/
/*600-768px - table portrait*/
/*600-768px - table portrait*/